<%@ Page Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="aContacts" Codebehind="aContacts.aspx.cs" %>
<%@ Register src="~/UserControls/Main/aContacts.ascx" tagname="aContacts" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:aContacts ID="AContacts1" runat="server" />
</asp:Content>