<%@ Page Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="APSS_MFU" Codebehind="APSS_MFU.aspx.cs" %>
<%@ Register src="~/UserControls/Main/APSS_MFU.ascx" tagname="APSS_MFU" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:APSS_MFU ID="APSS1" runat="server" />
</asp:Content>