﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="AuditS812EvidenceFolder" Codebehind="AuditS812EvidenceFolder.aspx.cs" Async="true" %>

<%@ Register src="UserControls/Main/ComplianceReports/AuditS812EvidenceFolder.ascx" tagname="AuditS812EvidenceFolder" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <%: System.Web.Optimization.Styles.Render("~/bundles/Office2003BlueOld_styles") %>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:AuditS812EvidenceFolder ID="AuditS812EvidenceFolder1" runat="server" />
</asp:Content>

