﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="NonComplianceAuditDownloads" Codebehind="AuditDownloads.aspx.cs" %>

<%@ Register src="UserControls/Main/ComplianceReports/AuditDownloads.ascx" tagname="AuditDownloads" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:AuditDownloads ID="AuditDownloads1" runat="server" />
</asp:Content>

