﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" 
CodeBehind="ContractorManagementSafetyDashboard.aspx.cs" Inherits="ContractorManagementSafetyDashboard" %>





<%@ Register src="UserControls/Main/ContractorManagementSafetyDashboard.ascx" tagname="ContractorManagementSafetyDashboard" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
<uc1:ContractorManagementSafetyDashboard ID="ContractorManagementSafetyDashboard1" runat="server" />


</asp:Content>
