﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Pages_cUsers" Codebehind="cUsers.aspx.cs" %>
<%@ Register src="~/UserControls/Main/cUsers.ascx" tagname="cUsers" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:cUsers ID="cUsers1" runat="server" />
</asp:Content>

