﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="FinancialReport" Codebehind="FinancialReport.aspx.cs" %>

<%@ Register src="UserControls/Main/FinancialReport.ascx" tagname="FinancialReport" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:FinancialReport ID="FinancialReport1" runat="server" />
</asp:Content>

