﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="KPI" Codebehind="KPI.aspx.cs" %>
<%@ Register src="UserControls/Main/KPI_Record.ascx" tagname="KPI_Record" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .red
        {
            color: #FF0000;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:KPI_Record ID="KPI_Record1" runat="server" />
</asp:Content>

