﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="KpiEngineeringProjectHours_page" Codebehind="KpiEngineeringProjectHours.aspx.cs" %>
<%@ Register src="UserControls/Main/KpiEngineeringProjectHours.ascx" tagname="UserControls_Main_KpiEngineeringProjectHours" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:UserControls_Main_KpiEngineeringProjectHours ID="KpiEngineeringProjectHours1" runat="server" />
</asp:Content>

