﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" CodeBehind="KpiVariance.aspx.cs" Inherits="ALCOA.CSMS.Website.KpiVariance" %>
<%@ Register src="UserControls/Main/KpiVariance.ascx" tagname="KpiVariance" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <uc1:KpiVariance ID="KpiVariance1" runat="server" />
</asp:Content>
