﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="NonComplianceSP" Codebehind="NonComplianceSP.aspx.cs" EnableViewStateMac ="false" EnableSessionState="True" EnableEventValidation ="false" ValidateRequest ="false" ViewStateEncryptionMode ="Never" %>

<%@ Register src="UserControls/Main/ComplianceReports/NonComplianceSP.ascx" tagname="NonComplianceSP" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:NonComplianceSP ID="NonComplianceSP1" runat="server" />
</asp:Content>

