﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="NonComplianceKPISQ" Codebehind="NonComplianceKPISQ.aspx.cs" %>

<%@ Register src="UserControls/Main/ComplianceReports/NonComplianceKPISQ.ascx" tagname="NonComplianceKPISQ" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:NonComplianceKPISQ ID="NonComplianceKPISQ1" runat="server" />
</asp:Content>

