﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="NonComplianceMT" Codebehind="NonComplianceMT.aspx.cs" %>

<%@ Register src="UserControls/Main/ComplianceReports/NonComplianceMT.ascx" tagname="NonComplianceMT" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:NonComplianceMT ID="NonComplianceMT1" runat="server" />
</asp:Content>

