﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="NonComplianceEbiOnSite" Codebehind="NonComplianceEbiOnSite.aspx.cs" Async="true" %>

<%@ Register src="UserControls/Main/ComplianceReports/EbiContractorsOnSite.ascx" tagname="EbiContractorsOnSite" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <%: System.Web.Optimization.Styles.Render("~/bundles/Office2003BlueOld_styles") %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:EbiContractorsOnSite ID="EbiContractorsOnSite1" runat="server" />
</asp:Content>

