﻿<div>
    <div>
        <span style="font-size:16px; font-weight:bold;">Alcoa Contractor Services Management</span><br>
        <span style="color:#8aa5c2; font-size:11px;">Summary Compliance Report By Site</span><br>
        <img height="1" src="[UrlPath]/images/grfc_dottedline.gif" width="24">
    </div>
    <div>
        <span style="font-size:16px; font-weight:bold; text-align:center;">Quantitative Comparison of Target vs Actual&nbsp;<span style="color:Navy;font-size:13px;">As at: [Now]</span></span>
    </div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="center">
                    <strong>Site:</strong>&nbsp;[Site]
                </td>
                <td align="center">
                    <strong>Residential Category:</strong>&nbsp;[Category]
                </td>
                <td align="center">
                    <strong>Year:</strong>&nbsp;[Year]
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">KPI</span><br />
        [KPI]
    </div>
    <br />
    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">Safety Management Plans</span><br />
        [SP]
    </div>
    <br />
    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">Medical Schedules</span><br />
        [MS]
    </div>
    <br />
    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">Training Schedules</span><br />
        [TS]
    </div>
    <br />
    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">Contractor Services Audit - Shows Embedded and Non Embedded 1 Sites Only</span><br />
        [CSA]
    </div>
    <br />
    <div>
        <span style="font-size:13px; color:#000099; font-weight:bold;">Contractors On Site (KPI)</span><br />
        [KPISQ]
    </div>
</div>