﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Reports_SafetyPQOverview" Codebehind="Reports_SafetyPQOverview.aspx.cs" %>

<%@ Register src="UserControls/Main/SqReports/QuestionnaireReport_Overview.ascx" tagname="QuestionnaireReport_Overview" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <%: System.Web.Optimization.Styles.Render("~/bundles/Office2003BlueOld_styles") %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:QuestionnaireReport_Overview ID="QuestionnaireReport_Overview1" 
        runat="server" />
</asp:Content>

