﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Reports_AuditSection8_12" Codebehind="Reports_AuditSection8_12.aspx.cs" %>

<%@ Register src="UserControls/Main/Reports_AuditSection8_12.ascx" tagname="Reports_AuditSection8_12" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:Reports_AuditSection8_12 ID="Reports_AuditSection8_121" runat="server" />
</asp:Content>

