﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Reports_iProc" Codebehind="Reports_iProc.aspx.cs" %>

<%@ Register src="UserControls/Main/Reports_iProc.ascx" tagname="Reports_iProc" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:Reports_iProc ID="Reports_iProc1" runat="server" />
</asp:Content>

