﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Reports_EhsWorkload_Smp" Codebehind="Reports_EhsWorkload_Smp.aspx.cs" %>

<%@ Register src="UserControls/Main/Reports_EhsWorkload_Smp.ascx" tagname="Reports_EhsWorkload_Smp" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:Reports_EhsWorkload_Smp ID="Reports_EhsWorkload_Smp1" runat="server" />
</asp:Content>

