﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Reports_SummaryCompliance" Codebehind="Reports_SummaryCompliance.aspx.cs" %>

<%@ Register src="UserControls/Main/ComplianceReports/SummaryCompliance.ascx" tagname="SummaryCompliance" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:SummaryCompliance ID="SummaryCompliance1" runat="server" />
</asp:Content>

