﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" CodeBehind="RiskNotificationsCorrectiveActionsOpenClosed.aspx.cs" Inherits="ALCOA.CSMS.Website.RiskNotificationsCorrectiveActionsOpenClosed" %>
<%@ Register src="~/UserControls/Main/RiskNotificationsCorrectiveActionsOpenClosed.ascx" tagname="RNCOpenClosed" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
<uc1:RNCOpenClosed ID="RNCOpenClosed1" runat="server" />
</asp:Content>
