﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="SafetyPQ_Questionnaire" Codebehind="SafetyPQ_Questionnaire.aspx.cs" %>

<%@ Register src="UserControls/Main/SafetyPQ_Questionnaire.ascx" tagname="SafetyPQ_Questionnaire" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:SafetyPQ_Questionnaire ID="SafetyPQ_Questionnaire1" runat="server" />
</asp:Content>

