﻿<%@ Page Title="" ValidateRequest="false" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="SafetyPQ_QuestionnaireModify" Codebehind="SafetyPQ_QuestionnaireModify.aspx.cs" %>

<%@ Register src="UserControls/Main/SqQuestionnaire/QuestionnaireModify.ascx" tagname="QuestionnaireModify" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 204px;
            color: #FF0000;
        }
        .style2
        {
            width: 204px;
            font-weight: bold;
            color: #006600;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:QuestionnaireModify ID="QuestionnaireModify1" runat="server" />
</asp:Content>

