﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="SiteMap" Codebehind="SiteMap.aspx.cs" %>

<%@ Register src="UserControls/Other/SiteMap.ascx" tagname="SiteMap" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:SiteMap ID="SiteMap1" runat="server" />
</asp:Content>

