﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" CodeBehind="SqExemptionForm.aspx.cs" Inherits="ALCOA.CSMS.Website.SqExemptionForm" %>
<%@ Register src="UserControls/Main/SqExemptionForm.ascx" tagname="SqExemptionForm" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <uc1:SqExemptionForm ID="SqExemptionForm1" runat="server" />
</asp:Content>
