﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Training_Attendance" Codebehind="Training_Attendance.aspx.cs" %>

<%@ Register src="UserControls/Main/Training_Attendance.ascx" tagname="Training_Attendance" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">

    <uc1:Training_Attendance ID="Training_Attendance1" runat="server" />

</asp:Content>

