﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Training_Packages" Codebehind="Training_Packages.aspx.cs" %>

<%@ Register src="UserControls/Main/Training_Packages.ascx" tagname="Training_Packages" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:Training_Packages ID="Training_Packages1" runat="server" />
</asp:Content>

