﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" Inherits="Training_Upload" Codebehind="Training_Upload.aspx.cs" %>

<%@ Register src="UserControls/Main/Training_Upload.ascx" tagname="Training_Upload" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <uc1:Training_Upload ID="Training_Upload1" runat="server" />
</asp:Content>

