﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" CodeBehind="TrainingMetrics.aspx.cs" Inherits="ALCOA.CSMS.Website.TrainingMetrics" %>
<%@ Register src="~/UserControls/Main/PeopleManagementTraining/TrainingMetrics.ascx" tagname="TrainingMetrics" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
<uc1:TrainingMetrics ID="TrainingMetrics1" runat="server" />
</asp:Content>
