﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/user.master" AutoEventWireup="true" CodeBehind="Validity.aspx.cs" Inherits="ALCOA.CSMS.Website.Validity" %>
<%@ Register src="~/UserControls/Main/PeopleManagementTraining/Validity2.ascx" tagname="validity1" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
 <uc1:validity1 ID="validity1" 
        runat="server" />
</asp:Content>
