.dxgvControl_Office2010BlueNew,
.dxgvDisabled_Office2010BlueNew
{
	border: 1px solid #8ba0bc;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: #e4effa;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Office2010BlueNew
{
	color: #b2b7bd;
}

.dxgvControl_Office2010BlueNew A
{
	color: #993300;    
	text-decoration: underline;
}
/*Start:Changed by Debashis for Enhancement_023*/
/*.dxgvControl_Office2010BlueNew A
{
	color: #993300;
	text-decoration: underline;
}*/
/*End:Changed by Debashis for Enhancement_023*/
.dxgvControl_Office2010BlueNew a:hover
{
	text-decoration: underline;
}
.dxgvDisabled_Office2010BlueNew a
{
	color: #b2b7bd;
}
.dxgvLoadingPanel_Office2010BlueNew
{
	font: 11px Verdana, Geneva, sans-serif;
	/*color: #1e395b;*/
	background: White none;
	border: 1px solid #859ebf;
}
.dxgvLoadingPanel_Office2010BlueNew td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxgvLoadingPanel_Office2010BlueNew .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar_Office2010BlueNew .dxlp-loadingImage 
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}
.dxgvLoadingPanelStatusBar_Office2010BlueNew
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_Office2010BlueNew td
{
	white-space: nowrap;
	text-align: center;
	padding: 0 2px;
}
.dxgvFilterPopupWindow_Office2010BlueNew
{
	color: Black;
	border: 1px solid #8ba0bc;
}
.dxgvFilterPopupItemsArea_Office2010BlueNew
{
	color: Black;
	background-color: White;
	padding-top: 1px;
}
.dxgvFilterPopupButtonPanel_Office2010BlueNew
{
	background-color: #cfddee;
	border-top: 1px solid #8ba0bc;
	/*color: #1e395b;*/
}

.dxgvFilterPopupItem_Office2010BlueNew td.dxgv,
.dxgvFilterPopupActiveItem_Office2010BlueNew td.dxgv,
.dxgvFilterPopupSelectedItem_Office2010BlueNew td.dxgv
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	padding: 3px 2px 3px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Office2010BlueNew
{
	background: #d5e8ff none;
	color: Black;
}
.dxgvFilterPopupSelectedItem_Office2010BlueNew
{
	background: #e2ecf7 none;
	color: Black;
}

.dxgvTable_Office2010BlueNew
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_Office2010BlueNew .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_Office2010BlueNew .dxgvFSDC
{
    background-color: #e2ebf6;
}
.dxgvControl_Office2010BlueNew .dxgvFSDC .dxgvFooter_Office2010BlueNew td.dxgv
{
    border-bottom: 0;
}
.dxgvInlineEditRow_Office2010BlueNew,
.dxgvDataRow_Office2010BlueNew
{
}
.dxgvInlineEditRow_Office2010BlueNew td.dxgv
{
	border-bottom: 1px solid #cfddee;
	border-right: 1px solid #cfddee;
}
.dxgvInlineEditRow_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew
{
	background: #e9edf3 none;
}
.dxgvDataRowAlt_Office2010BlueNew
{
	background-color: #f4f6f9;
}
.dxgvFilterRow_Office2010BlueNew
{
	background-color: White;
}
.dxgvEditForm_Office2010BlueNew
{
	background-color: #ecf2f9;
}
.dxgvEditForm_Office2010BlueNew td.dxgv
{
	border-bottom: 1px solid #cfddee;
	padding: 8px 10px 10px;
}
.dxgvEditForm_Office2010BlueNew td.dxgvIndentCell
{
	background: White none;
	border-right: 1px Solid #CFDDEE;
	border-left: 1px Solid #CFDDEE;
	border-top-width: 0px;
}
.dxgvSelectedRow_Office2010BlueNew
{
	background-color: #fdf7d9;
	color: Black;
}
.dxgvFocusedRow_Office2010BlueNew
{
	background: #faedb6 none;
	color: Black;
}
.dxgvSelectedRow_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew a,
.dxgvFocusedRow_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew a
{
	color: #337cd4;
	text-decoration: none;
}
.dxgvSelectedRow_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew a:hover,
.dxgvFocusedRow_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew a:hover
{
	text-decoration: underline;
}

.dxgvPreviewRow_Office2010BlueNew
{
	background-color: #e9edf3;
	color: #777777;
}
.dxgvDetailCell_Office2010BlueNew,
.dxgvPreviewRow_Office2010BlueNew td.dxgv,
.dxgvEmptyDataRow_Office2010BlueNew td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px solid #cfddee;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailCell_Office2010BlueNew
{
	border-bottom-color: #cfddee;
}
.dxgvPreviewRow_Office2010BlueNew td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_Office2010BlueNew
{
	padding: 16px 18px;
}
.dxgvDetailRow_Office2010BlueNew td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px solid #cfddee;
}
.dxgvEmptyDataRow_Office2010BlueNew
{
	color: #777777;
}
.dxgvEmptyDataRow_Office2010BlueNew td.dxgv
{
	border-bottom: 1px solid #cfddee;
	text-align: center;
}

.dxgvEditFormDisplayRow_Office2010BlueNew td.dxgv,
.dxgvDataRow_Office2010BlueNew td.dxgv,
.dxgvDataRowAlt_Office2010BlueNew td.dxgv,
.dxgvSelectedRow_Office2010BlueNew td.dxgv,
.dxgvFocusedRow_Office2010BlueNew td.dxgv
{
	overflow: hidden;
	border-bottom: 1px solid #cfddee;
	border-right: 1px solid #cfddee;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 6px;
}
.dxgvEditFormDisplayRow_Office2010BlueNew
{
}
.dxgvEditFormDisplayRow_Office2010BlueNew td.dxgv
{
}
.dxgvEditFormDisplayRow_Office2010BlueNew td.dxgvIndentCell
{
	background: white none;
	border-right: 1px Solid #CFDDEE;
	border-left: 1px Solid #CFDDEE;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_Office2010BlueNew
{
	background-color: #cfddee;
	color: #ba1717;
}
.dxgvEditingErrorRow_Office2010BlueNew td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_Office2010BlueNew td.dxgv
{
	border-bottom: 1px solid #8ba0bc;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 3px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_Office2010BlueNew
{
	background-color: White;
}
.dxgvFocusedGroupRow_Office2010BlueNew
{
	background: #faedb6 none;
	color: Black;
}
.dxgvGroupRow_Office2010BlueNew td.dxgv,
.dxgvFocusedGroupRow_Office2010BlueNew td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px solid #cfddee;
	padding: 4px 6px;
}
.dxgvFocusedRow_Office2010BlueNew td.dxgvIndentCell,
.dxgvFocusedGroupRow_Office2010BlueNew td.dxgvIndentCell,
.dxgvSelectedRow_Office2010BlueNew td.dxgvIndentCell,
.dxgvDataRowHover_Office2010BlueNew td.dxgvIndentCell
{
	background: White!important;
	border-right: 1px solid #cfddee;
	border-left: 1px solid #cfddee;
	border-top-width: 0px;
}
.dxgvHeaderPanel_Office2010BlueNew
{
	background-color: #cfddee;
	color: Black;
	padding: 8px 6px;
	border-bottom: 1px solid #8ba0bc;
}

.dxgvMSDraggable .dxgvHeader_Office2010BlueNew,
.dxgvMSDraggable.dxgvGroupPanel_Office2010BlueNew
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_Office2010BlueNew
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 6px;
	border: 1px solid #8ba0bc;
	background: #e4effa url('gvHeaderBack.png') repeat-x left top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_Office2010BlueNew,
.dxgvHeader_Office2010BlueNew table
{
	/*color: #1e395b;*/
}
.dxgvHeader_Office2010BlueNew td
{
	white-space: nowrap;
}
.dxgvHeader_Office2010BlueNew a
{
	/*color: #1e395b;*/
	text-decoration: underline;
}
.dxgvHeader_Office2010BlueNew a.dxgvCommandColumnItem_Office2010BlueNew
{
	margin: 0px 3px 0px 0px;
	color: #337cd4;
	text-decoration: none;
}
.dxgvHeader_Office2010BlueNew a.dxgvCommandColumnItem_Office2010BlueNew:hover
{
	text-decoration: underline;
}
.dxgvCustomization_Office2010BlueNew,
.dxgvPopupEditForm_Office2010BlueNew
{
	padding: 0;
	margin: 0;
}
.dxgvPopupEditForm_Office2010BlueNew .dxgvEditingErrorRow_Office2010BlueNew .dxgv
{
	border-bottom-width: 0;
}
.dxgvGroupPanel_Office2010BlueNew
{
	white-space: nowrap;
	background-color: #cfddee;
	/*color: #1e395b;*/
	border-bottom: 1px solid #8ba0bc;
	padding: 7px 4px 10px 6px;
}
.dxgvFooter_Office2010BlueNew
{
	background-color: #e2ebf6;
	white-space: nowrap;
}
.dxgvFooter_Office2010BlueNew td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
}
.dxgvGroupFooter_Office2010BlueNew
{
	background-color: #e2ebf6;
}
.dxgvGroupFooter_Office2010BlueNew td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #cfddee;
	border-right-width: 0;
	white-space: nowrap;
}
.dxgvDataRow_Office2010BlueNew td.dxgvIndentCell,
.dxgvGroupRow_Office2010BlueNew td.dxgvIndentCell,
.dxgvGroupFooter_Office2010BlueNew td.dxgvIndentCell
{
	background-color: White;
	border-right: 1px solid #cfddee;
	border-left: 1px solid #cfddee;
	border-top-width: 0px;
}

.dxgvTitlePanel_Office2010BlueNew,
.dxgvTable_Office2010BlueNew caption
{
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background: #bdd0e7 url('gvTitleBack.png') repeat-x left top;
	/*color: #1e395b;*/
	border-bottom: 1px solid #8ba0bc;
}
.dxgvStatusBar_Office2010BlueNew
{
	background: #cfddee none;
	border-top: 1px solid #8ba0bc;
}
.dxgvStatusBar_Office2010BlueNew tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_Office2010BlueNew tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn_Office2010BlueNew
{
	padding: 2px;
}
.dxgvCommandColumn_Office2010BlueNew a
{
	margin: 0px 3px 0px 0px;
	color: #337cd4;
	text-decoration: none;
}
.dxgvCommandColumn_Office2010BlueNew a:hover
{
	text-decoration: underline;
}

.dxgvCommandColumnItem_Office2010BlueNew
{
}
.dxgvEditFormTable_Office2010BlueNew
{
	padding: 2px 6px 6px 4px;
	color: Black;
}
.dxgvEditFormTable_Office2010BlueNew a
{
	color: #337cd4;
	text-decoration: none;
}
.dxgvEditFormTable_Office2010BlueNew a:hover
{
	text-decoration: underline;
}

.dxgvEditFormCaption_Office2010BlueNew
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_Office2010BlueNew
{
	padding: 1px;
}

.dxgvEditFormCell_Office2010BlueNew
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_Office2010BlueNew,
.dxgvPagerBottomPanel_Office2010BlueNew
{
	background: #e4effa none;
}
.dxgvDetailButton_Office2010BlueNew
{
}

.dxgvFilterBar_Office2010BlueNew
{
	border-top: 1px solid #8ba0bc;
	background: #cfddee none;
}
.dxgvFilterBar_Office2010BlueNew a
{
	color: #337cd4;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_Office2010BlueNew
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_Office2010BlueNew
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Office2010BlueNew
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Office2010BlueNew
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Office2010BlueNew
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Office2010BlueNew
{
	background: #cfddee none;
	border-top: 1px solid #aec0d5;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_Office2010BlueNew
{
	background: #fbf4d7 url('gvHoverBack.png') repeat-x left top;
	color: Black;
}

.dxgvControl_Office2010BlueNew .dxpLite_Office2010BlueNew,
.dxgvDisabled_Office2010BlueNew .dxpLite_Office2010BlueNew
{
	padding-top: 4px;
}

.dxgvControl_Office2010BlueNew .dxgvHFSAC
{
    padding: 7px 0 0 6px;
}
.dxgvControl_Office2010BlueNew .dxgvHFSC
{
    padding: 7px 0 5px;
}
.dxgvControl_Office2010BlueNew .dxgvHFSC div
{
    height: 1px;
    background: #909AA6;
}
.dxgvControl_Office2010BlueNew div[id$='DXEPLPC']
{
    height: 39px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_Office2010BlueNew
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_Office2010BlueNew td.dxgvBatchEditCell_Office2010BlueNew
{
    padding: 0;
}
.dxgvControl_Office2010BlueNew td.dxgvBatchEditModifiedCell_Office2010BlueNew
{
    background: #d7f9c7;
}
.dxgvControl_Office2010BlueNew .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_Office2010BlueNew .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvStatusBar_Office2010BlueNew .dxgvCommandColumn_Office2010BlueNew a
{
    margin-right: 10px;
}
.dxgvControl_Office2010BlueNew td.dxgvBatchEditCell_Office2010BlueNew .dxichCellSys
{
    padding-left: 0;
}

.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-content {
    padding-top: 4px;
    padding-bottom: 4px;
}
.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image,
.dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image {
	margin-top: -2px;
    margin-bottom: -3px;
	margin-left: -3px;
    border: 1px solid transparent;
}
.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image.dxgvcm-chk,
.dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image.dxgvcm-chk {
    background-color: #fddc7f;
    border-color: #c2762b;
}
.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image {
	margin-right: 18px;
}
.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image.dxWeb_mSubMenuItem_Office2010BlueNew,
.dxmLite_Office2010BlueNew.dxm-ltr .dxgvContextMenu_Office2010BlueNew.dxm-popup .dxm-image.dxWeb_mSubMenuItemChecked_Office2010BlueNew {
	margin-left: -1px;
	margin-right: 21px;
}

