<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_SafetyPlans_SelfAssessment_Print" Codebehind="SafetyPlans_SelfAssessment_Print.ascx.cs" %>
<%@ Register Assembly="DevExpress.Web.v14.1, Version=14.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dxe" %>

<asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>

