<%@ Control Language="C#" AutoEventWireup="true" Inherits="Common_LoadingScreen" Codebehind="LoadingScreen.ascx.cs" %>
<div class="modalPopup">
    <p></p><img src="App_Themes/Office2003BlueOld/GridView/Loading.gif" align="middle" />&nbsp;<asp:Label ID="Label2" runat="server" Height="10px" Font-Bold="true">Please Wait</asp:Label>
        <br />
        <asp:Label ID="Label1" runat="server"></asp:Label><br />
        <br />
    <asp:Button ID="Button1" runat="server" BackColor="Transparent" BorderColor="Transparent"
    BorderStyle="None" ForeColor="Blue" Text="Cancel" Font-Size="X-Small" Font-Underline="True" />
</div>