/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office2010BlueNew
{
    background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_Office2010BlueNew
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #1e395b;
	background: White none;
	border: 1px solid #859ebf;
}
.dxheLoadingPanel_Office2010BlueNew td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxheLoadingPanel_Office2010BlueNew .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 16px;
	width: 16px;
}

.dxheControl_Office2010BlueNew
{
    border: 1px solid #8ba0bc;
    font: 11px Verdana, Geneva, sans-serif;
}

/* Area */
.dxheContentArea_Office2010BlueNew
{
    padding: 0;
    background-color: #cfddee;
}
.dxheErrorFrame_Office2010BlueNew
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheErrorFrame_Office2010BlueNew .dxhe {
    padding: 5px;
}
.dxheErrorFrame_Office2010BlueNew .dxhe td {
    padding: 0px;
}
.dxheErrorFrame_Office2010BlueNew .dxheErrorFrameCloseButton_Office2010BlueNew {
    cursor: pointer;
}
.dxheControl_Office2010BlueNew .dxheViewArea_Office2010BlueNew
{
    border-width: 0;
}
.dxheContentArea_Office2010BlueNew td.dxheViewArea_Office2010BlueNew {
    line-height: 0;
}
.dxheControl_Office2010BlueNew .dxheHtmlViewArea_Office2010BlueNew,
.dxheDesignViewArea_Office2010BlueNew,
.dxhePreviewArea_Office2010BlueNew
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheHtmlViewArea_Office2010BlueNew td,
.dxheHtmlViewArea_Office2010BlueNew.dxeMemo_Office2010BlueNew td,
body.dxheDesignViewArea_Office2010BlueNew, 
body.dxhePreviewArea_Office2010BlueNew
{
    padding: 4px 4px 0 4px;
}
.dxheControl_Office2010BlueNew .dxheContentArea_Office2010BlueNew .dxeMemo_Office2010BlueNew td
{
    padding-top: 0;
    padding-right: 0;
}
.dxheContentArea_Office2010BlueNew .dxeMemoEditArea_Office2010BlueNew
{
    padding-left: 0;
    padding-right: 0;
}
.dxheControl_Office2010BlueNew.dxhe-rtl .dxheHtmlViewArea_Office2010BlueNew td,
.dxheControl_Office2010BlueNew.dxhe-rtl .dxheHtmlViewArea_Office2010BlueNew.dxeMemo_Office2010BlueNew td
{
    padding: 0 4px 0 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .dxheControl_Office2010BlueNew.dxhe-rtl .dxheHtmlViewArea_Office2010BlueNew td,
    .dxheControl_Office2010BlueNew.dxhe-rtl .dxheHtmlViewArea_Office2010BlueNew.dxeMemo_Office2010BlueNew td
    {
        padding: 0 0 0 4px;
    }    
}
.dxheControl_Office2010BlueNew .dxeMemo_Office2010BlueNew textarea 
{
	resize:none;
}
.dxheControl_Office2010BlueNew input.dxeEditArea_Office2010BlueNew
{
    margin-top: -1px;
}
.dxheControl_Office2010BlueNew input.dxeEditArea_Office2010BlueNew,
.dxheControl_Office2010BlueNew td.dxic .dxeEditArea_Office2010BlueNew /*Bootstrap correction*/
{
    padding-bottom: 0px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office2010BlueNew table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office2010BlueNew table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_Office2010BlueNew table.dxEmptyBorderTable,
	body.dxheDesignViewArea_Office2010BlueNew table.dxEmptyBorderTable td
	{
		border:0px;
	}
}
body.dxheDesignViewArea_Office2010BlueNew pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* Status Bar */
.dxheStatusBar_Office2010BlueNew
{
}
.dxheStatusBar_Office2010BlueNew .dxheStatusBarTab_Office2010BlueNew
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxheControl_Office2010BlueNew .dxheStatusBar_Office2010BlueNew .dxheStatusBarTab_Office2010BlueNew .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxheControl_Office2010BlueNew.dxhe-rtl .dxheStatusBar_Office2010BlueNew .dxheStatusBarTab_Office2010BlueNew
{
    border-left-width: 1px !important;
    border-right-width: 0 !important;
}
.dxheStatusBarActiveTab_Office2010BlueNew
{
}
.dxHtmlEditor_heSizeGrip_Office2010BlueNew
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_Office2010BlueNew
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_Office2010BlueNew
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_Office2010BlueNew.dxhe-rtl .dxheSizeGripContainer_Office2010BlueNew 
{
	text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite_Office2010BlueNew .dxheDlgFooter,
.dxpcLite_Office2010BlueNew .dxheCustomDialog_Office2010BlueNew .dxhecd-Buttons
{
    background-color: #cfddee;
    border-top: 1px solid #aec0d5;
	padding: 10px 11px;
	text-align: right;
}
.dxpcLite_Office2010BlueNew.dxRtl .dxheDlgFooter,
.dxpcLite_Office2010BlueNew.dxRtl .dxheCustomDialog_Office2010BlueNew .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_Office2010BlueNew .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite_Office2010BlueNew.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite_Office2010BlueNew .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
.dxpcLite_Office2010BlueNew .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: 1px solid #8ba0bc;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office2010BlueNew
{
	height: 1px;
}
.dxtbControl_Office2010BlueNew
{
    color: Black;
    background-color: #cfddee;
    width: 100%;
    border-bottom: 1px solid #859ebf;
}
.dxtbControl_Office2010BlueNew td.dxmMenu_Office2010BlueNew
{
	border: 0;
}
.dxtbComboBoxMenuItem_Office2010BlueNew
{
    padding: 2px 2px 1px;
}
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew
{
    background-color: #CFDDEE;
}
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew .dxtcLite_Office2010BlueNew .dxtc-stripContainer .dxtc-spacer,
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew .dxtcLite_Office2010BlueNew.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew .dxr-minBtn
{
    padding-right: 7px;
}
.dxheControl_Office2010BlueNew .dxtbControl_Office2010BlueNew.dxtbr_Office2010BlueNew,
.dxheControl_Office2010BlueNew .dxrControl_Office2010BlueNew .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}

/* Toolbars Lightweight Mode */
.dxtbControl_Office2010BlueNew .dxmLite_Office2010BlueNew .dxm-main
{
    border-width: 0;
}
.dxmLite_Office2010BlueNew .dxhetipControl_Office2010BlueNew img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_Office2010BlueNew
{
}
.dxtcbColorDiv_Office2010BlueNew
{
	width: 16px;
	height: 3px;
	font-size: 0;
	background-color: Transparent;
    margin-top: -3px;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_Office2010BlueNew .dxrpcontent
{
    padding: 9px !important;
}
