﻿body {
    margin: 0;
    background-color: #FFF;
    word-wrap: break-word;
    padding: 20px;
}

body, td {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS",helvetica,sans-serif;
    color: #FF8000;
    letter-spacing: 1px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

blockquote {
    font-family: "Trebuchet MS",helvetica,sans-serif;
    color: #004A66;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    margin: 10px;
    padding: 30px 10px 30px 10px;
    text-align: center;
    background-color: #EEE;
    margin-left: 0;
}

#pageHeader {
    height: 50px;
    line-height: 50px;
    color: #80FF00;
    font-family: "Trebuchet MS",helvetica,sans-serif;
    font-size: 24px;
    padding: 10px 16px 10px 16px;
    background-color: #004A66;
    border-bottom: 1px solid #FFF;
}

#divBaseLinks {
    height: 30px;
    background-color: #004A66;
    border-top: 1px solid #FFF;
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #FFF;
}

    #divBaseLinks a:link {
        color: #FFF;
        text-decoration: none;
    }

    #divBaseLinks a:visited {
        color: #FFF;
        text-decoration: none;
    }

    #divBaseLinks a:hover {
        color: #FFF;
        text-decoration: none;
    }

    #divBaseLinks a:active {
        color: #FFF;
        text-decoration: none;
    }

#divPageContent {
    border-top: 3px solid #FF8000;
    border-bottom: 3px solid #FF8000;
    padding: 10px 0 10px 0;
    background-color: #FFF;
}

#navcontainer {
    width: 160px;
}

    #navcontainer ul {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
        font-family: verdana,arial,sans-serif;
    }

    #navcontainer a {
        display: block;
        padding: 4px;
        width: 160px;
        background-color: #004A66;
        border-bottom: 1px solid #FFF;
    }

        #navcontainer a:link, #navlist a:visited {
            color: #FFF;
            text-decoration: none;
        }

        #navcontainer a:hover {
            background-color: #369;
            color: #fff;
        }

#sideBarNewsContent {
    background-color: #EEE;
    padding: 10px;
}

#newsHeader {
    height: 22px;
    line-height: 22px;
    color: #80FF00;
    font-family: "Trebuchet MS",helvetica,sans-serif;
    font-size: 14px;
    padding: 0 5px 0 5px;
    background-color: #004A66;
    border-bottom: 1px solid #FFF;
}

.leftColumn {
    padding: 0p 5px 0 5px;
    width: 170px;
}

.rightColumn {
    padding: 0 10px 10px 10px;
    border-left: 1px dashed #CCC;
}

.subHeader {
    font-family: "Trebuchet MS",helvetica,sans-serif;
    color: #004A66;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #004A66;
}

.note {
    font-weight: bold;
    color: #800000;
    font-style: italic;
    background-color: #FFF0B7;
    padding: 5px;
    border: 1px solid #FFB96C;
}

.newsItem {
    margin-bottom: 5px;
    font-size: 9px;
}

.readNewsLink {
    margin-bottom: 10px;
    font-size: 9px;
}

b.rtop, b.rbottom {
    display: block;
    background: #D8D8D8;
}

    b.rtop b, b.rbottom b {
        display: block;
        height: 1px;
        overflow: hidden;
        background: #004A66;
    }

b.r1 {
    margin: 0 5px;
}

b.r2 {
    margin: 0 3px;
}

b.r3 {
    margin: 0 2px;
}

b.rtop b.r4, b.rbottom b.r4 {
    margin: 0 1px;
    height: 2px;
}

.grid-pager {
    background: #bbb;
    border-top: solid 1 black;
}

.grid {
    border: solid 2px Black;
}

.grid-header {
    background: #CCC;
    text-decoration: none;
    font-weight: normal;
}

    .grid-header th {
        font-size: 12px;
        text-decoration: none;
        font-weight: normal;
        color: Black;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        padding: 1 1 1 4;
        border-bottom-style: outset;
        border-right-style: outset;
        border-width: 1px;
    }

    .grid-header a {
        color: Black;
        text-decoration: none;
    }

.literal {
    font-size: 12px;
    font-family: Tahoma;
}

.ModalBackground {
    background-color: #333;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.popup {
    width: 600px;
    height: 600px;
    overflow: scroll;
    padding: 10px;
    background-color: White;
    border-style: solid;
    border-color: Black;
    border-width: 1px;
    vertical-align: top;
    text-align: left;
}

.topnavdrop {
    FONT-SIZE: 15px;
    LINE-HEIGHT: 15px;
}

.button {
    BORDER-RIGHT: #ce9a00 1px solid;
    PADDING-RIGHT: 0;
    BORDER-TOP: #ce9a00 1px solid;
    PADDING-LEFT: 0;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    MARGIN: 0;
    BORDER-LEFT: #ce3000 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #ce3000 1px solid;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #c60;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
}

.marketsidenav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.marketsidenav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.marketsidenav:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #8aa5c2;
        LINE-HEIGHT: 13px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

A.iconlinkbluesm {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #369;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.iconlinkbluesm:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 10px;
        COLOR: #8aa5c2;
        LINE-HEIGHT: 13px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.widgetclose {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.widgetclose:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #333;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

.secthead {
    FONT-SIZE: 11px;
    COLOR: #333;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.secthead:hover {
    FONT-SIZE: 11px;
    COLOR: #333;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

.sectheadopen {
    FONT-SIZE: 11px;
    COLOR: #666;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.title {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000;
    LINE-HEIGHT: 18px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.pagetitle {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #fff;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Arial,Helvetica,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

A.pagetitle {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #fff;
    FONT-FAMILY: Arial,Helvetica,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

    A.pagetitle:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 14px;
        COLOR: #fff;
        FONT-FAMILY: Arial,Helvetica,Verdana,sans-serif;
        TEXT-DECORATION: none;
    }

.sitetitle {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #c60;
    FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

A.sitetitle {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #c60;
    FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

    A.sitetitle:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 14px;
        COLOR: #c60;
        FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
        TEXT-DECORATION: none;
    }

.sitetitleblue {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #039;
    LINE-HEIGHT: 21px;
    FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

A.sitetitleblue {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #039;
    FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
    TEXT-DECORATION: none;
}

    A.sitetitleblue:hover {
        FONT-WEIGHT: bold;
        FONT-SIZE: 18px;
        COLOR: #039;
        FONT-FAMILY: Helvetica,Arial,Verdana,sans-serif;
        TEXT-DECORATION: none;
    }

.headline {
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    COLOR: #000;
    LINE-HEIGHT: 22px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.bodycopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.bodycopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

    A.bodycopy:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #930;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.bodycopylist {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.bodycopylist {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

    A.bodycopylist:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #930;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.sidecopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.head {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.head {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #369;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.head:hover {
        FONT-WEIGHT: bold;
        FONT-SIZE: 12px;
        COLOR: #8aa5c2;
        LINE-HEIGHT: 16px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.subhead {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.subhead {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.subhead:hover {
        FONT-WEIGHT: bold;
        FONT-SIZE: 11px;
        COLOR: #8aa5c2;
        LINE-HEIGHT: 16px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.headlist {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #333;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.rcccopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.rcccopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

    A.rcccopy:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #930;
        LINE-HEIGHT: 14px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.rcchead {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #333;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.smblack {
    FONT-SIZE: 10px;
    COLOR: #000;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.sidenav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.sidenavsub {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.sidenav:hover {
    COLOR: #8aa5c2;
    TEXT-DECORATION: underline;
}

A.sidenavsub:hover {
    COLOR: #8aa5c2;
    TEXT-DECORATION: underline;
}

.sidenavcurrent {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    .sidenavcurrent:hover {
        FONT-WEIGHT: bold;
        FONT-SIZE: 11px;
        COLOR: #666;
        LINE-HEIGHT: 13px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: none;
    }

.sidenavsubcurrent {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    .sidenavsubcurrent:hover {
        FONT-WEIGHT: bold;
        FONT-SIZE: 11px;
        COLOR: #666;
        LINE-HEIGHT: 16px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: none;
    }

.sidenavsect {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #369;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.searchnav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #039;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.searchnav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #039;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.searchnav:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 10px;
        COLOR: #039;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

A.metanav {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #8aa5c2;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.metanav:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 10px;
        COLOR: #369;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.menubar {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.menubar:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.whitemenubar {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    LINE-HEIGHT: 12px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.whitemenubar:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.footer {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #999;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.footer:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #c60;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

.whitefooter {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.whitefooter:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

.navheaderLink {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.navheaderLink:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

A.navheaderLink:mouseover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

.date {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #8aa5c2;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.linklist {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.linklist:hover {
        COLOR: #930;
        TEXT-DECORATION: underline;
    }

.iconlinksm {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #c60;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    .iconlinksm:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 10px;
        COLOR: #930;
        LINE-HEIGHT: 13px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.iconlinklg {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    .iconlinklg:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #930;
        LINE-HEIGHT: 14px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.menugraybold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

bodycopy.image {
    LINE-HEIGHT: normal;
}

.glosspop {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.glosspop:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #fff;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

A {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

    A:hover {
        COLOR: Navy;
        TEXT-DECORATION: underline;
    }

UL {
    LIST-STYLE: disc url(/Images/box_bullet.gif) outside;
    MARGIN-TOP: 0;
    MARGIN-BOTTOM: 0;
    MARGIN-LEFT: 18px;
}

OL {
    MARGIN-TOP: 0;
    MARGIN-BOTTOM: 0;
    MARGIN-LEFT: 30px;
}

FORM {
    BORDER-RIGHT: 0;
    PADDING-RIGHT: 0;
    BORDER-TOP: 0;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    BORDER-LEFT: 0;
    PADDING-TOP: 0;
    BORDER-BOTTOM: 0;
}

.formcopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.forminput {
    FONT-SIZE: 11px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
}

.monospace {
    FONT-SIZE: 12px;
    COLOR: #000;
    FONT-FAMILY: Courier New,Monospace;
}

.contactinputbox {
    FONT-SIZE: 11px;
    WIDTH: 151px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #fff;
}

.contactmessagebox {
    FONT-SIZE: 11px;
    WIDTH: 270px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 110px;
    BACKGROUND-COLOR: #fff;
}

.widgetinputbox {
    FONT-SIZE: 11px;
    WIDTH: 124px;
    COLOR: #666;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #f5f5f5;
}

.homecountrywidget {
    FONT-SIZE: 11px;
    WIDTH: 195px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e6e0da;
}

.compselbox {
    FONT-SIZE: 11px;
    WIDTH: 160px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #e6e0da;
}

.homecopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

A.homecopy {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #c60;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}

    A.homecopy:hover {
        FONT-WEIGHT: normal;
        FONT-SIZE: 11px;
        COLOR: #930;
        LINE-HEIGHT: 14px;
        FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        TEXT-DECORATION: underline;
    }

.homehead {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #333;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

.Content {
    margin: 0 20px 20px;
    padding: 10px;
    color: black;
    background-color: #eee;
    border: 1px dashed black;
}

#UpdateProgress1 {
    background-color: #CF4342;
    color: #fff;
    top: 0;
    right: 0;
    position: fixed;
}

    #UpdateProgress1 img {
        vertical-align: middle;
        margin: 2px;
    }

.Progress {
    background-color: #CF4342;
    color: White;
}

    .Progress img {
        vertical-align: middle;
        margin: 2px;
    }

.unwatermarked {
    height: 18px;
    width: 148px;
}

.watermarked {
    height: 20px;
    width: 150px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    color: gray;
}

.modalProgressGreyBackground {
    background: #CCC;
    filter: alpha(opacity=60);
    opacity: .6;
}

.modalProgressRedBackground {
    background: Red;
    filter: alpha(opacity=60);
    opacity: .6;
}

.modalPopup {
    text-align: center;
    padding-top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: White;
    width: 300px;
    height: 100px;
}

.popupdiv {
    background-color: ivory;
    border: solid 1px skyblue;
    width: 250px;
    display: block;
}

.popupbg {
    background-color: gray;
    filter: alpha(opacity=60);
    opacity: .60;
}

.hidelbl {
    display: none;
}

.ActiveInputControl {
    background-color: #fafad2;
    color: Blue;
    font-weight: bold;
}

A.custom {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: Navy;
    FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
    TEXT-DECORATION: none;
}

    A.custom:hover {
        COLOR: Orange;
        TEXT-DECORATION: underline;
    }

    A.custom:link {
        COLOR: Orange;
    }

    A.custom:visited {
        COLOR: Orange;
    }

    A.custom:active {
        COLOR: Orange;
    }

NoHighlightLink.custom {
    COLOR: Orange;
}

.timeClass {
    font-family: arial,verdana,helvetica,sans-serif;
    font-weight: bold;
    color: Red;
    font-size: 20pt;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.timeClassHeader {
    font-family: arial,verdana,helvetica,sans-serif;
    font-weight: bold;
    color: Red;
    font-size: 10pt;
    position: fixed;
    bottom: 50px;
    right: 20px;
}

.nobr {
    white-space: nowrap;
}
