.dxXtraReports_BtnFirstPage_Office2010BlueNew,
.dxXtraReports_BtnFirstPageDisabled_Office2010BlueNew,
.dxXtraReports_BtnLastPage_Office2010BlueNew,
.dxXtraReports_BtnLastPageDisabled_Office2010BlueNew,
.dxXtraReports_BtnNextPage_Office2010BlueNew,
.dxXtraReports_BtnNextPageDisabled_Office2010BlueNew,
.dxXtraReports_BtnPrevPage_Office2010BlueNew,
.dxXtraReports_BtnPrevPageDisabled_Office2010BlueNew,
.dxXtraReports_BtnPrint_Office2010BlueNew,
.dxXtraReports_BtnPrintDisabled_Office2010BlueNew,
.dxXtraReports_BtnPrintPage_Office2010BlueNew,
.dxXtraReports_BtnPrintPageDisabled_Office2010BlueNew,
.dxXtraReports_BtnSave_Office2010BlueNew,
.dxXtraReports_BtnSaveDisabled_Office2010BlueNew,
.dxXtraReports_BtnSaveWindow_Office2010BlueNew,
.dxXtraReports_BtnSaveWindowDisabled_Office2010BlueNew,
.dxXtraReports_BtnSearch_Office2010BlueNew,
.dxXtraReports_BtnSearchDisabled_Office2010BlueNew,
.dxXtraReports_PageBorder_blc_Office2010BlueNew,
.dxXtraReports_PageBorder_brc_Office2010BlueNew,
.dxXtraReports_PageBorder_tlc_Office2010BlueNew,
.dxXtraReports_PageBorder_trc_Office2010BlueNew
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxXtraReports_BtnFirstPage_Office2010BlueNew
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_Office2010BlueNew
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_Office2010BlueNew
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_Office2010BlueNew
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_Office2010BlueNew
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_Office2010BlueNew
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_Office2010BlueNew
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_Office2010BlueNew
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_Office2010BlueNew
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_Office2010BlueNew
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_Office2010BlueNew
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_Office2010BlueNew
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_Office2010BlueNew
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_Office2010BlueNew
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_Office2010BlueNew
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_Office2010BlueNew
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_Office2010BlueNew
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_Office2010BlueNew
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_Office2010BlueNew
{
    background-position: 0px -306px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_Office2010BlueNew
{
    background-position: 0px -317px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_Office2010BlueNew
{
    background-position: 0px -328px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_Office2010BlueNew
{
    background-position: 0px -339px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_Office2010BlueNew,
.dxXtraReports_PageBorder_l_Office2010BlueNew,
.dxXtraReports_PageBorder_r_Office2010BlueNew,
.dxXtraReports_PageBorder_b_Office2010BlueNew {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_Office2010BlueNew {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_Office2010BlueNew {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_Office2010BlueNew {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_Office2010BlueNew {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

