<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Admin_loginas" Codebehind="loginas.ascx.cs" %>
<%@ Register Assembly="DevExpress.Web.v14.1, Version=14.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dxe" %>
Warning: This will log you out of CSMS and in again as the selected user. Use with
care.<br />
<br />
<strong>1.</strong> Select User to login as:<dxe:aspxcombobox id="ASPxComboBox1"
    runat="server"></dxe:aspxcombobox><br />
<br />
<strong>2.</strong>
<dxe:aspxbutton id="ASPxButton1" runat="server" text="ASPxButton"></dxe:aspxbutton>
